body { 
    background-color: #c2eeff;
    opacity: 0.6;
    background-size: 18px 18px;
}

.title {
    position:sticky;
    text-align: center;
    font-size: 150px;
    font-family: Leaflets; 
color: rgb(111, 241, 133);
padding-left: 100px;
margin:auto;
}
h2 {
    font-weight: 300; 
}
.untertitel {
    position:sticky;
    text-align: center;
    font-size: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:rgb(54, 44, 146);
padding-left: 90px;
margin: 10px;
}

  #drumboxflex {
    box-sizing: border-box;
    width: 600px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }
  
  ul {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 100px;

  }
  
  ul li {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 5px;
    width: 556px;
    border-radius: 20px;
    padding: 10px 20px 22px 80px;
    list-style-type: none;
    background: rgb(216, 175, 224);
    font-size: 20px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:hover {
    opacity: 70%;
  }
  
  ul li.checked {
    background: rgb(95, 39, 92);
    color: rgb(0, 0, 0);
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    border-color: rgb(177, 163, 202);
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  .close {
      float: right;
    border-radius: 100%;
    padding: 15px 16px 15px 16px;
  }
  
  .close:hover {
    background-color: #368694;
    color: white;
  }
  
  .addNote {
    background-color: rgb(157, 143, 235);
    padding: 00px 00px;
    width: fit-content;
    border-radius: 20px;
    color: rgb(94, 185, 221);
    text-align: center;
    z-index: 100;
  }
  
  .addNote:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #input {
    margin: 0px;
    border: none;
    border-radius: 20px;
    width: 457px;
    padding: 17px;
    font-size: 20px;
    z-index: 100;
  }
  
  .addBtn {
    padding: 20px;
    width: 5%;
    background:rgb(235, 143, 143) ;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40%;
    z-index: 102;
  }
  
  .addBtn:hover {
    background-color: rgb(245, 99, 99);
    opacity: 70%;
  }

  