
header {
    background-image: url("../Aufgabe_2/foto1_big.jpg");
    padding: 200px;
    background-repeat: no-repeat;
    background-color: black;
}
footer {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
}
