
header {
    background-image: url("../Aufgabe_2/foto1_big.jpg");
    padding: 200px;
    background-repeat: no-repeat;
    background-color: black;
}
main {
    
}
footer {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
}
.com1 {
    padding: 30px;
}
.com2 {
    padding: 30px;
}
.com3 {
    padding: 30px;
}
input[type=text] {
    background-color: gray;
}