
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: url("../Aufgabe_2/foto1_big.jpg");
    padding: 200px;
    background-repeat: no-repeat;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: anima;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes anima {
    50% {background-image: url("image3A856_Glitch.jpg"); background-position: 50% 50%; }
}
nav {
    margin-right: 300px;
}
main {
    font-family: 'Dancing Script', cursive;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    z-index: 99;
    }
li a {
    display: inline;
    width: 60px;
    color: gray;
    text-align: center;
    padding: 10px;
    text-decoration: none;
} 
li a:hover {
    color: aliceblue;
    text-decoration: underline;
  }
li a:visited {
    color: aliceblue;
    text-decoration: underline;
}
footer {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#images {
    width: 800px;
    margin: auto;
}
#links li {
    display: inline;
    float: right;
}
.com1 {
    padding: 30px;
}
.com2 {
    padding: 30px;
}
.com3 {
    padding: 30px;
}
.logo {
    margin-left: 300px;
}
h1 {
    margin-left: 365px;
    margin-bottom: -6px;
}
h2 {
    margin-left: 365px;
    margin-bottom: -5px;
}
.com2 img {
    opacity: 0.5;
}
.com2 img:hover {
    opacity: 1.0;
}
.eye:hover {
    transform: scale(1.5);
}
#banner {
    position: fixed;
    padding: 10px 120px;
    background-color: aquamarine;
    top: 30px;
    right: -120px;
    transform: rotate(45deg);
    z-index: 99999;
}
#banner .inhalt {
    position: relative;
    width: 100px;
    height: 35px;
    text-align: center;
}